* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

p {
    color: black;
    font-family: "Lucida Grande";
    font-weight: 600;
}

.title {
    font-weight: 900;
    font-family: "Lucida Grande";
    color: tomato;
    padding-top: 2%;
}

.ml_container {
    width: 100%;
}

.ml_container textarea {
    border: 2px solid black;
    border-radius: 50px;
}

.btn-info {
    width: 100%;
    padding-top: 0.5%;
}

.button {
    background: transparent;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50px;
    width: 5%;
}

.center {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
}