<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Home</title>
</head>
<body>
   <div id="wrapper">
		<form action="{{ url_for('predict_message')}}" method="post">
			<textarea id="text" placeholder="Enter some text. e.g. Hello" name="message" rows="4"></textarea>
			<br>
			<div id="predict_button">
				<input id="button" type="submit" value="Predict">
			</div>
		</form>
	</div>
	<div id="prediction">
		{% if prediction %}
			{% if prediction > 0.5 %}
				<p style="color:red"> SPAM!</p>
			{% else %}
				<p style="color:cornflowerblue"> HAM!</p>
			{% endif %}
		{% else %}
			<p></p>
		{% endif %}
	</div>
</body>
</html>